.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 100px 10%;
  z-index: 1;
  gap: 50px;
}

.content {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 24px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    #ffffff 60%,
    rgba(187, 169, 169, 0.2) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 20px;
  line-height: 1.4;
  font-family: var(--font-roboto);
  margin-bottom: 40px;
  max-width: 500px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 100;
  padding: 15px 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.contactBtn:hover {
  background-color: rgb(93, 88, 120);
  transform: translateY(-2px);
}

.heroImg {
  flex: 1 1 400px;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  animation: floating 4s ease-in-out infinite;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.topBlur,
.bottomBlur {
  position: absolute;
  border-radius: 764px;
  background: #314479;
  filter: blur(120px);
  z-index: 0;
}

.topBlur {
  width: 45vw;
  height: 45vw;
  top: -150px;
  left: -15vw;
}

.bottomBlur {
  width: 65vw;
  height: 50vw;
  bottom: -120px;
  right: -20vw;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }

  .content {
    align-items: center;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 20px;
  }

  .contactBtn {
    font-size: 20px;
  }
}
